*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width: 700px;
    border: 1px solid grey;
    margin: auto;
    
}
.header{
    background-color: rgb(5, 5, 102);
    color:#FFF;
    padding:10px 30px;
}
.parrafo{
    font-size: 20px;
    padding:20px;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
}